<div class="page-background">
  <div class="page-title-wrapper">
    <h1 class="page-title">Running on DigitalOcean</h1>
    <%= link "View on GitHub", to: @github_url, class: "btn" %>
  </div>
</div>
